@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jockey+One&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    background-color:black;
    padding: 0;
    margin:0;
    overflow-x:hidden;
    align-items: center;
}
h1{
    color:white;
    font-family: "Jaro";
    font-size:5vw;
    font-weight: normal;
    text-align: center;
    top:1%;

}

nav{
    background-color: #fff;
    display:grid;
}
#logo{
    width:60px;
    height:60px;
}
#logo:hover{
    background-color: #D9D9D9;
}
ul{
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-basis:auto;
    top:0;
    left: 10%;
    width:70%;
    height:60px;
    list-style-type:none;
    padding:0;
    margin:0;
}
.navButtons{
    position:relative;
    height: 100%;
    border-style: none;
    width:25%;
    background-color: #fff;
    font-size: 1.4em;
    font-family: "Jaro";
    font-weight: normal;

}
.navButtons:hover{
    background-color: #D9D9D9;
}
#cart{
    position:absolute;
    height:60px;
    width:60px;
    background-image: url("Images//icons8-shopping-cart-96.png");
    background-size: 60px 60px;
    left:85%;
}
#itemQuantity{
    position:relative;
    background-color: red;
    border-radius: 30px;
    top:63%;
    left:70%;
    height:20px;
    width:20px;
    text-align: center;
    font-size: 1vw;
}
#hamburgerMenu{
    display:none;
}/*end of navbar*/
#firstContainer{
    position:relative;
    height:50%;
    width:86%;
    top:50px;
    background-image: url("Images/Cuttingblackboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;
    border-radius: 30px;

}
#pizzaRotate{
    position:absolute;
    max-height:40vw;
    max-width:40vw;
    left:55%;
    animation: linear pizzaRotation 50s infinite;
}
@keyframes pizzaRotation{
    100%{transform:rotate(360deg)}
}
#labelContainer{
    position:relative;
    margin-left:0;
    width:40%;
    top:5%;
    height:50%;
}
#label1{
    position:relative;
    color:#fff;
    font-family:"Jaro";
    font-weight: normal;
    font-size:5vw;
    top:10%;
    left:15%;
}
#label2{
    position:relative;
    color:#fff;
    font-family:"Jaro";
    font-weight: normal;
    width:50%;
    font-size:5vw;
    left:15%;
}
#label3{
    position:relative;
    color:red;
    font-family:"Jaro";
    font-weight: normal;
    font-size:5vw;
    width:60%;
    left:59%;
    bottom:10.2vw;
}
#labelContainer{
    top:6vw;
}
#nearBy{
    position:relative;
    border-style: none;
    background-color: #FF0303;
    border-radius: 30px;
    margin-left: 7%;
    margin-bottom:10%;
    color:white;
    height:10vw;
    width:20vw;
    font-size:3vw;
    font-family: "Jockey One";

}
#bestSellerContainer{
    margin-top:100px;
    display:flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    justify-content: center;
    width:100%;

}
#bestSellerLabel{
    margin-top:10%;
}


.bestSeller{
    background-image: url("Images/Cuttingblackboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:40%;
    height:100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}


.bestPizza{
    position:relative;
    height:20vw;
    width:20vw;
    left:25%;
    bottom:0.3%;
}
.bestLabel{
    position:relative;
    color:white;
    font-family:"Jockey One";
    font-weight:normal;
    font-size:3vw;
    margin-left:30%;
    bottom:5vh;
}
#orderButton{
    position:relative;
    display:block;
    color:white;
    border-radius: 30px;
    background-color: red;
    border-style: none;
    font-family: "Jockey One";
    height:10vw;
    width:25vw;
    font-size:5vw;
    margin:auto;
    margin-top:10px;
    margin-bottom:100px;
}/*end of index*/
#contactContainer{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height:70vh;

}
#messageDropper{
    position:relative;
    background-color: #fff;
    border-radius: 30px;
    height:80%;
    width:70%;
    left:30%;
}
#labelDropper{
    text-align: center;
    font-family: "Jaro";
    font-weight:normal;
    font-size:2vw;
    
}
.inputBox{
    border-color: black;
    border-radius: 30px;
    height:40px;
    font-size:1vw;
    background-color: #D9D9D9;
    
}
.inputBox::placeholder{
    color:#fff; 
    font-family: "Jaro";
    font-weight: normal;
}
#message{
    border-color: black;
    border-radius: 30px;
    height:25vh;
    width:20vw;
    font-size:1vw;
    background-color: #D9D9D9;
    vertical-align: top;
    text-align: left;
    word-break: break-all;
}
#message::placeholder{
    color:#fff; 
    font-family: "Jaro";
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    vertical-align: 0;
}
#inputContainer{
    position:relative;
    display:flex;
    flex-direction: column;
    gap:10%;
    width:50%;
    height:50%;
    left:40%;
    top:4vh;
}
#submitMessage{
    position:relative;
    border-radius: 30px;
    border-style: none;
    width:20vw;
    height:8vh;
    outline:auto;
    outline-color: black;
    background-color:#FF0303;
    color:#fff;
    font-family: "Jaro";
    font-weight: normal;
    font-size: 3vw;
    top:10px;
    left:30%;
    top:8vh;
}
    


@media screen and (max-width: 667px) {
    nav{
        background-color: #fff;
        display:grid;
    }
    #logo{
        width:50px;
        height:50px;
    }
    ul{
        position:absolute;
        display: none;
        flex-direction: column;
        flex-basis:auto;
        top:50px;
        left: 10%;
        width:80%;
        height:60px;
        list-style-type:none;
        padding:0;
        margin:0;
        z-index: 1;
    }
    .navButtons{
        position:relative;
        height: 100%;
        border-style: none;
        width:100%;
        background-color: #fff;
        font-size: 1.4em;
        font-family: "Jaro";
        font-weight: normal;
    
    }
    #cart{
        position:absolute;
        height:50px;
        width:50px;
        background-image: url("Images//icons8-shopping-cart-96.png");
        background-size: 50px 50px;
        left:65%;
    }
    #itemQuantity{
        position:relative;
        background-color: red;
        border-radius: 30px;
        top:63%;
        left:70%;
        height:20px;
        width:20px;
        text-align: center;
        font-size: 1vw;
    }
    #hamburgerMenu{
        position:absolute;
        display:block;
        left:85%;
    }
    #bestSellerLabel{
        margin-top:15%;
    }
   .bestLabel{
        bottom:2vh;
    }
    #orderButton{
        margin-bottom:1vh;
    }
}
