@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jockey+One&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jockey+One&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    background-color:black;
    padding: 0;
    margin:0;
    overflow-x:hidden;
    align-items: center;
}
h1{
    color:white;
    font-family: "Jaro";
    font-size:5vw;
    font-weight: normal;
    text-align: center;
    top:1%;

}

nav{
    background-color: #fff;
    display:grid;
}
#logo{
    width:60px;
    height:60px;
}
#logo:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}
ul{
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-basis:auto;
    top:0;
    left: 10%;
    width:70%;
    height:60px;
    list-style-type:none;
    padding:0;
    margin:0;
}
.navButtons{
    position:relative;
    height: 100%;
    border-style: none;
    width:25%;
    background-color: #fff;
    font-size: 1.4em;
    font-family: "Jaro";
    font-weight: normal;
    cursor: pointer;

}
.navButtons:hover{
    background-color: #D9D9D9;
}
#pizzaVideo{
    width:100%;
}
#cart{
    position:absolute;
    height:60px;
    width:60px;
    background-image: url("Images//icons8-shopping-cart-96.png");
    background-size: 60px 60px;
    left:85%;
}
#cart:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}
#itemQuantity{
    position:relative;
    background-color: red;
    border-radius: 30px;
    top:63%;
    left:70%;
    height:20px;
    width:20px;
    text-align: center;
    font-size: 100%;
}
#hamburgerMenu{
    display:none;
}/*end of navbar*/
.firstContainer{
    position:relative;
    height:50%;
    width:86%;
    top:50px;
    background-image: url("Images/Cuttingblackboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;
    border-radius: 30px;

}
#pizzaRotate{
    position:absolute;
    max-height:40vw;
    max-width:40vw;
    left:55%;
    animation: linear pizzaRotation 50s infinite;
}
@keyframes pizzaRotation{
    100%{transform:rotate(360deg)}
}
#labelContainer{
    position:relative;
    margin-left:0;
    width:60%;
    top:5%;
    height:50%;
}
#label1{
    position:relative;
    color:#fff;
    font-family:"Jaro";
    font-weight: normal;
    font-size:5vw;
    top:10%;
    left:15%;
}
#label2{
    display:flex;
    position:relative;
    color:#fff;
    font-family:"Jaro";
    font-weight: normal;
    width:100%;
    font-size:5vw;
    left:15%;
    gap:2%;
}
#label2 span{
    color:red;
    font-size:5vw;
    
}
#labelContainer{
    top:6vw;
}
#nearBy{
    position:relative;
    border-style: none;
    background-color: #FF0303;
    border-radius: 30px;
    margin-left: 7%;
    margin-bottom:10%;
    margin-top:10%;
    color:white;
    height:10vw;
    width:20vw;
    font-size:3vw;
    font-family: "Jockey One";

}
#nearBy:hover{
    cursor: pointer;
    background-color: #C40C0C;
}
#bestSellerContainer{
    margin-top:100px;
    display:flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    justify-content: center;
    width:100%;

}
#bestSellerLabel{
    margin-top:10%;
}


.bestSeller{
    background-image: url("Images/Cuttingblackboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:40%;
    height:100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}


.bestPizza{
    position:relative;
    height:20vw;
    width:20vw;
    left:25%;
    bottom:0.3%;
}
.bestLabel{
    position:relative;
    color:white;
    font-family:"Jockey One";
    font-weight:normal;
    font-size:3vw;
    margin-left:30%;
    bottom:5vh;
}
#orderButton{
    position:relative;
    display:block;
    color:white;
    border-radius: 30px;
    background-color: red;
    border-style: none;
    font-family: "Jockey One";
    height:10vw;
    width:25vw;
    font-size:5vw;
    margin:auto;
    margin-top:10px;
    margin-bottom:100px;
}
#orderButton:hover{
    cursor: pointer;
    background-color: #C40C0C;
}
/*end of index*/
#contactContainer{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;

}
#messageDropper{
    position:relative;
    background-color: white;
    height:100vh;
    width:70%;
    border-radius: 30px;
    margin-left:auto ;
    margin-right:5%;
    top:2%;
}
h3{
    font-size:3vw;
    font-family:"Jaro";
    font-weight: normal;
    text-align: center;
}
#inputContainer{
    height:50%;
    width:50%;
    margin-left:auto;
    margin-right:5%;
    grid-column: auto;
}
#labelDropper{
    position:relative;
    top:30px;
}
.inputBox{
    height:20%;
    width:100%;
    border-radius: 30px;
    margin-top:30px;
    background-color: #D9D9D9;
    font-size:2vw;
}
.inputBox::placeholder{
    color:white;
    font-family:"Jaro";
    font-weight: normal;
}
#message{
    width:100%;
    height:50%;
    border-radius:30px;
    margin-top:30px;
    background-color: #D9D9D9;
    font-size:2vw;
}
#message::placeholder{
    color:white;
    font-family:"Jaro";
    font-weight: normal;
}
#submitMessage{
    position:relative;
    height:10vw;
    width:20vw;
    border-radius: 30px;
    left:40%;
    margin-top:10%;
    background-color:#FF0303;
    font-family: "Jaro";
    color:white;
    font-size:3vw;
}
#contactInfo{
    position:absolute;
    background-color: #FF0303;
    border-radius: 30px;
    width:30vw;
    top:45%;
    margin-left:20%;
    height:70%;
    align-content: center;
    margin-right:auto;
}
.iconInfo{
    height:2vw;
    width:2vw;
}
h5{
    color:white;
    font-family: "Jaro";
    font-weight:normal;
    font-size:1.5vw;
    width:80%;
}
.infoSlot{
    display:flex;
    flex-direction: row;
 
}
/*end of contact*/
  
  .menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .menu-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .menu-header button{
    border-style: none;
    background-color: black;
    color:white;
    font-size:2vw;
    align-self: left;
    margin-top:3%;
    font-family:"Jaro";
  }
  .menu-header button:hover{
    color:#DE9355;
    cursor: pointer;
    
  }
  .search-bar {
    width: 50%;
    height:4vw;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-family: "Jaro";
    font-size:2vw;
  }
  
  .menu-section {
    margin-bottom: 15%;
  }
  
  .menu-section h2 {
    font-size: 3vw;
    margin-bottom: 15px;
    color:white;
    font-family:"Jaro";
    font-weight:normal;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    height:400px;
    gap: 5%;
  }
  
  .menu-item {
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    height:100%;
    padding: 15px;
  }
  .menu-item:hover{
    box-shadow: 10px 10px 10px rgba(161, 161, 161, 0.8);
  }
  
  .menu-item img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .item-name {
    font-size: 2vw;
    margin: 10px 0;
    font-family: "JetBrains Mono";
    font-weight: bolder;
  }
  
  .menu-item button {
    padding: 10px 15px;
    border: none;
    background-color: #DE9355;
    height:10%;
    width:10vw;
    color: black;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    font-family: "JetBrains Mono";
    font-weight: bold;
    text-align: center;
    vertical-align:middle;
  }
  
  .menu-item button:hover {
    background-color: darkorange;
  }
  /*end of menu*/

  
  .checkout-container {
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    padding: 3%; 
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    width: 80%; 
    height: 85%; 
    text-align: center;
  }
  
  .checkout-container h1 {
    text-align: center;
    font-size: 3vw;
    color:black;
    margin-bottom: 5%;
  }
  
  .item {
    display:none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .item-details {
    display: flex;
    align-items: center;
  }
  
  .item-details img {
    width: 10vw; 
    height: 10vw;
    margin-right: 15px;
    border-radius: 10px;
  }
  

  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px; 
    font-size: 20px;
    cursor: pointer;
  }
  
  .item-quantity span {
    margin: 0 15px; 
    font-size: 20px; 
  }
  
  .item-price {
    font-weight: bold;
    font-size: 20px; 
    text-align: left;
  }
  
  .discount {
    display: flex;
    margin: 30px 0; 
  }
  
  .discount input {
    flex: 1;
    padding: 10px; 
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    font-size: 18px;
  }
  
  .discount button {
    padding: 10px 20px; 
    border: none;
    background-color: #333;
    color: white;
    border-radius: 0 8px 8px 0;
    font-size: 18px;
    cursor: pointer;
  }
  
  .totals {
    margin-bottom: 20px; 
    display:flex;
    flex-direction: column;
  }
  
  .totals p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px; 
    
  }
  
  .totals .payable {
    font-size: 24px; 
    font-weight: bold;
  }
  
  .pay-button {
    width: 100%;
    padding: 20px; 
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px; 
    font-weight: bold;
    
  }
  
  .pay-button:hover {
    background-color: #45a049; 
  }
  .checkout-content{
    display:flex;
    width:100%;
    flex-direction:column;
  }
  .label-heading{
    display: flex;
  }
  .checkout-container span{
    font-family: "Jaro";
    font-size:2vw;
    margin-left:25%;
  }
  #discount{
    display:none;
  }
  /*end of checkout*/
.tracking-container{
    width:100%;
    height:100%;
}
.head{
    height:20%;
}
.head input{
    border-radius: 30px;
    height:40%;
    width:30%;
    font-size:3vw;
    font-family: "Jaro";
    font-weight:normal;
    margin-left:35%;
    text-align: center;
}

.track-container{
    background-color: #fff;
    width:60%;
    height:100%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 30px;
    margin-top:10%;
    padding:50px;
    padding-bottom: 100px;
    margin-bottom:30px;
    
}
.track-container label{
    display:block;
    font-size:3vw;
    font-family:"Jaro";
    text-align: center;
}
.track-container hr{
    width:90%;
}
.track-container p,span{
    display:block;
    font-family: "Jaro";
    font-weight:normal;
    font-size:2vw;
    text-align:center;
}
/*end of tracking*/

.payment-wrapper {
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.payment-title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.payment-input {
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.payment-input:focus {
  outline: none;
  border-color: #007bff;
}

.payment-button {
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #0056b3;
}

/*end of payment*/
  
  
@media screen and (max-width: 667px) {
    nav{
        background-color: #fff;
        display:grid;
    }
    #logo{
        width:50px;
        height:50px;
    }
    ul{
        position:absolute;
        display: none;
        flex-direction: column;
        flex-basis:auto;
        top:50px;
        left: 10%;
        width:80%;
        height:60px;
        list-style-type:none;
        padding:0;
        margin:0;
        z-index: 1;
    }
    .navButtons{
        position:relative;
        height: 100%;
        border-style: none;
        width:100%;
        background-color: #fff;
        font-size: 1.4em;
        font-family: "Jaro";
        font-weight: normal;
    
    }
    #cart{
        position:absolute;
        height:50px;
        width:50px;
        background-image: url("Images//icons8-shopping-cart-96.png");
        background-size: 50px 50px;
        left:65%;
    }
    #itemQuantity{
        position:relative;
        background-color: red;
        border-radius: 30px;
        top:63%;
        left:70%;
        height:20px;
        width:20px;
        text-align: center;
        font-size: 20px;
    }
    #hamburgerMenu{
        position:absolute;
        display:block;
        left:85%;
    }
    #bestSellerLabel{
        margin-top:15%;
    }
   .bestLabel{
        bottom:2vh;
    }
    #orderButton{
        margin-bottom:1vh;
    }
    /*end of index*/
    #submitMessage{
        margin-left:auto;
        height:10%;
        top: 10%;
        width:40%;
    }
    #messageDropper{
        height:75vh;
    }
    #contactInfo{
        height:50%;
        top:25%;
    }
    h5{
        font-size:2vw;
    }
    .iconInfo{
        height:3vw;
        width:3vw;
    }
    .inputBox{
        font-size:3vw;
    }
    #message{
        font-size:3vw;
    }
    /*end of contact*/
    .filterContainer button{
        font-size:3vw;
    }
    .menu-grid .menu-item{
        height:200px;
        padding:0;
    }
    .menu-item button{
        font-size:2vw;
        height:20%;
        width:12vw;
    }
    .menu-section{
        margin-bottom:0;
    }
    .menu-grid{
        height:100%;
    }
    /*end of menu*/
    .checkout-container {
        width: 90%;
        height: 90%; 
      }
    
      h1 {
        font-size: 28px; 
      }
    
      .item-details img {
        width: 80px; 
        height: 80px;
      }
    
      .item-quantity button,
      .discount button {
        font-size: 16px; 
      }
    }
  

