@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jockey+One&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    background-color:black;
    padding: 0;
    margin:0;
    overflow-x:hidden;
}
h1{
    font-family: "Jaro";
    font-size:75px;
    color:#fff;
    font-weight:normal;
}
.navBar{
    background-color: #fff;
    height: 70px;
    width: 100%;
    column-count: 6;
    
}
.logo{
    width:  100px;
    height: 70px;
}
.logo:hover{
    background-color: #D9D9D9;
}
#hamburgerMenu{
    position:absolute;
    left: 100000px;
}
.navBarButton{
    height:70px;
    width:249px;
    font-size: 45px;
    background-color: #fff;
    border: none;
    font-family: "Jaro";

}
.navBarButton:hover{
    background-color: #D9D9D9;
}
#cart{
    width:70px;
    height:70px;
    position:relative;
    left:120px;
    flex-direction: row;
   
}
#shoppingCart{
    padding-top:5px;
    width: 90%;
    height:90%;
}
#itemsQuantity{
    position:absolute;
    height: 20px;
    width:20px;
    background-color: #FF0303;
    border-radius: 30px;
    top:60%;
    right: 10%;
    text-align: center;
    font-family: "Jaro";
    font-size:15px;
    color:#fff;

}/*End of navbar*/
.starterContainer{
    margin:0;
    padding:0;
}
#pizzaRotate{
    position:absolute;
    width: 675px;
    height:675px;
    left:55%;
    top:130px;
    border-image: 0px;
    animation: linear pizzaRotation 50s infinite;
}
@keyframes pizzaRotation{
    100%{transform:rotate(360deg)}
}
#pizzaBackground{
    width: 1407px;
    height:680px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
#label1{
    position:absolute;
    top:250px;
    left:100px;

}
#label2{
    color:#FF0303;
    position:absolute;
    top:350px;
    left:100px;
}
#label3{
    position:absolute;
    top:250px;
    left:420px;
}
.nearByButton{
    position:relative;
    border:none;
    border-radius: 30px;
    background-color: #FF0303;
    color:white;
    font-family: "Jockey One";
    width:270px;
    height:135px;
    font-size:30px;
    left:5%;
    bottom:300px;
}
#bestLabel{
    position:relative;
    text-align: center;
    margin-top: auto;
}
.sellerBackground{
    border-radius: 30px;
    width: 600px;
    height:450px;
}
.bestSellerContainer{
    display:flex;
    flex-direction:row;
    margin-left: 4%;
}
.bestSellerHolder{
    padding-left:2%;
    margin:0;
}
.cheese{
    position:relative;
    width: 350px;
    height:350px;
    bottom:48%;
    left:18%;

}
.pepperoni{
    position:relative;
    width: 350px;
    height:350px;
    bottom:48%;
    left:18%;

}
.bestSellerText{
    color:#fff;
    font-family:"Jockey One";
    font-size: 45px;
    position:relative;
    font-weight: normal;
    bottom:55%;
    left:28%;
}
.orderButton{
    position:absolute;
    font-family: "Jockey one";
    font-weight: normal;
    color:#fff;
    background-color: #FF0303;
    border-radius: 30px;
    width:350px;
    height:150px;
    font-size:75px;
    top:220%;
    margin-left: 39%;
}

@media screen and (max-width:667px){
    body{
        padding: 0;
        margin:0;
        background-color: black;
        overflow-x:hidden;
    }
    .logo{
        height: 100%;
        width:60px;
    }
    #hamburgerMenu{
        width:70px;
        height:70px;
        position:relative;
        left:450%;
    }
    .navBar{
        position:sticky;
        background-color: #fff;
        height: 70px;
        width: 100%;
        
    }
    #cart{
        width:70px;
        height:70px;
        position:relative;
        left:150%;
       
    }
    .navContainer{
        position:absolute;
        display:none;
        flex-direction: column;
        right:-5%;
        width:100%;
        top:75%;
    }
    .navBarButton{
        position:relative;
        right:5%;
        height:30px;
        width:100%;
        font-size:20px;
        text-align: center;
    }
    .navBarButton:hover{
        background-color: #D9D9D9;
    }
    /*End of mobile navbar*/
}