@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kablammo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body{
    background-color:black;
    padding: 0;
    margin:0;
    overflow:hidden;
}
.navBar{
    position:sticky;
    background-color: #fff;
    height: 70px;
    width: 100%;
    column-count: 6;
    
}
.logo{
    width:  100px;
    height: 70px;
}
.logo:hover{
    background-color: #D9D9D9;
}
#hamburgerMenu{
    position:absolute;
    left: 100000px;
}
.navBarButton{
    height:70px;
    width:249px;
    font-size: 45px;
    background-color: #fff;
    border: none;
    font-family: "Jaro";

}
.navBarButton:hover{
    background-color: #D9D9D9;
}
#cart{
    width:70px;
    height:70px;
    position:relative;
    left:120px;
    flex-direction: row;
   
}
#shoppingCart{
    padding-top:5px;
    width: 90%;
    height:90%;
}
#itemsQuantity{
    position:absolute;
    height: 20px;
    width:20px;
    background-color: #FF0303;
    border-radius: 30px;
    top:60%;
    right: 10%;
    text-align: center;
    font-family: "Jaro";
    font-size:15px;
    color:#fff;

}

@media screen and (min-width:480px){

}